html {
  box-sizing: border-box;
}

.textarea {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  width: 800px;
  height: 150px;
  background-color: rgba(162, 165, 149, 0.2);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  line-height: 1.25rem;
}

.wrapper {
  color: #444343;
  user-select: none;
}

.keyboard {
  box-sizing: border-box;
  top: 25px;
  width: 800px;
  margin: 50px auto;
  padding: 15px;
  background: rgba(162, 165, 149, 0.2);
  border: 2px solid #b4a284;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.keyboard__keys {
	display: grid;
  grid-template-columns: repeat(46, 1fr);
  grid-gap: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

.keyboard__keys:hover {
	cursor: pointer;
}

.key {
	grid-column-end: span 3;
  text-align: center;
  padding-top: 9px;
  border-radius: 4px;
  border: 2px solid grey;
  border-top-color: #b4a284;
  border-left-color: #b4a284;
  background-color: #f6ead4;
  color: grey;
}

.key:hover {
  border: 2px solid grey;
}

.active {
  color: white;
  background-color: #b4a284;
  border: 2px solid grey;
}

.Backspace,
.CapsLock,
.ShiftLeft {
  grid-column-end: span 7;
}

.Tab {
  grid-column-end: span 4;
}

.Enter,
.ShiftRight,
.ArrowRight {
  grid-column-end: span 6;
}

.Space {
  grid-column-end: span 22;
}

.pressed {
  color: white;
  background-color: #b4a284;
  border: 2px solid grey;
}

.off {
  display: none;
}

.lang-text {
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}
